@model IEnumerable<PruebaMVC.Models.VistaCancionConcierto>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-11">
            <form asp-controller="CancionesConciertoes" asp-action="Index">
                <p>
                    <span class="gordete">Buscador:</span>  <input type="text" name="SearchString" />
                    <input type="submit" value="Busca" />
                </p>
            </form>
        </div>
        <div class="col-1">
            <p>
                <a class="gordete" asp-action="Create"><i class="fa-solid fa-circle-plus fs-3"></i></a>
            </p>
        </div>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["CancionesSortParm"]">@Html.DisplayNameFor(model => model.TituloCanciones)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["TituloSortParm"]">@Html.DisplayNameFor(model => model.Titulo)</a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloCanciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
    }
    </tbody>
</table>