@model PruebaMVC.Models.Artista

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Artista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNac)
        </dd>
        <dt class="col-sm-2">
            Foto
        </dt>
        <dd class="col-sm-10">
            @if (Model.Foto != null)
            {
                <img src="data:image;base64,@Convert.ToBase64String(Model.Foto)" alt="Photo" style="max-width: 100%;" />
            }
        </dd>
    </dl>
</div>
<div class="fondoiconos">
    <a asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa-solid fa-pen"></i></a>
    <a asp-action="Index"><i class="fa-solid fa-rotate-left"></i></a>
</div>
