@using Microsoft.EntityFrameworkCore
@model PruebaMVC.ViewModel.ConciertoConListaGrupos



<div class="jacquard-24-regular mb-3 tarjeta" style="background-color:antiquewhite;border-radius:15px;">
        <div style="background-image:url(img/Concierto/ConciertoNotFound.jpg);background-repeat:no-repeat;background-size:cover;height:350px;width:450px;">
        <div class="d-flex flex-column justify-content-between" style="background-image:url(@(ViewBag.UrlTarjeta));background-repeat:no-repeat;background-size:cover;height:350px;width:450px;font-size:2em;">
                <div class="mt-3 ms-3">
                    <p class="nombre" style="background-color:white;display:inline-block;">@Html.DisplayFor(model => model.Titulo)</p>
                </div>
                <div>
                    <div>
                    <p class="ms-2 fecha" style="background-color:white;display:inline-block;">@Html.DisplayFor(model => model.Fecha)</p>
                    </div>
                    <div class="d-flex justify-content-between">
                    <p class="ms-2" style="background-color:white;display:inline-block;">Lugar: </p><p class="lugar" style="background-color:white;display:inline-block;">@Html.DisplayFor(model => model.Lugar)</p>
                    <p class="ms-auto" style="background-color:white;display:inline-block;">Precio: </p><p class="precio  me-2" style="background-color:white;display:inline-block;">@Html.DisplayFor(model => model.Precio)</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:250px;">
            <p style="font-size:3em;" class="ms-2">Grupos concierto</p>
        <div class="nombreGrupo" style="overflow-y:auto;height:200px;">
                @foreach (var item in @Model.listaGrupo)
                {
                <p style="font-size:1.5em;height:20px;" class="ms-2">@Html.DisplayFor(modelItem => item.Nombre)</p>
                }
            </div>
        </div>
</div>

