@model IEnumerable<PruebaMVC.Models.VistaAlbume>

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-11">
            <form asp-controller="Albumes" asp-action="Index">
                <p>
                    <span class="gordete">Title:</span>  <input type="text" name="SearchString" />
                    <input type="submit" value="Filter" />
                </p>
            </form>
        </div>
        <div class="col-1">
            <p>
                <a class="gordete" asp-action="Create">Create New</a>
            </p>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TituloSortParm"]">@Html.DisplayNameFor(model => model.Titulo)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IDSortParm"]">@Html.DisplayNameFor(model => model.NombreGrupo)</a>,
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GeneroSortParm"]">@Html.DisplayNameFor(model => model.Genero)</a>,
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FechaSortParm"]">@Html.DisplayNameFor(model => model.Fecha)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Acciones Disponibles"]"></a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                    @await Component.InvokeAsync("Album", item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreGrupo)<br/>
                    @await Component.InvokeAsync("Album", item.NombreGrupo)
                    @Html.DisplayFor(modelItem => item.Genero)<br/>
                    @await Component.InvokeAsync("Album", item.Genero)
                    @Html.DisplayFor(modelItem => item.Fecha)<br/>
                    @await Component.InvokeAsync("Album", item.Fecha)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
